*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: lightgray;
}
.container {
  width: 600px;
  padding: 20px;
  background:#fff;
  border-radius:10px;
  border:none;
  margin: 100px auto;
}
button {
  padding: 10px;
  background-color:aqua;
  color:#fff;
  border:none;
  border-radius:10px;
  width: 30%;
}
.list{
 background-color: gray;
 color: #fff;
 width: 80%;
 padding: 20px;
 border:none;
 border-radius: 10px;
 margin: 30px;
}
